### 리스트 만들기

In [29]:
# 1번 학생의 국어, 영어, 수학, 과학 점수가 각각 90, 95, 85, 80점
student1 = [90, 95, 85, 80]
print('국어 '+ str(student1[0]) + ', ' + '영어 '+ str(student1[1]) + ', ' 
      + '수학 '+ str(student1[2]) + ', ' + '과학 '+ str(student1[3]) )

국어 90, 영어 95, 수학 85, 과학 80

In [4]:
student1 = [99, '결석', 80, '병가']
print(student1)

[99, '결석', 80, '병가']

In [5]:
print(student1[0])

99

In [43]:
print(str(student1[-1]) +" " +  str(student1[-2]))

80 85

In [48]:
student1[1] = 100 #두 번째 항목에 새로운 변수를 할당.
print(student1[1])

100

In [52]:
student_1 = ['이용주', '기경훈', '배상범', '채요한']
student_2 = ['오지환', '박종영', '김재형', '윤종훈']

print(student_1[0])
print(student_2[-3])

이용주
박종영

In [54]:
myFriends = ['James', 'Lisa', 'Robert', 'Marry']
print(myFriends)

['James', 'Lisa', 'Robert', 'Marry']

In [58]:
mixedList = [0, 2, 3.14, 'Python', 'program', True, myFriends]
print(mixedList)

[0, 2, 3.14, 'Python', 'program', True, ['James', 'Lisa', 'Robert', 'Marry']]

In [64]:
print(mixedList[6][2])

Robert

### 리스트 다루기

In [66]:
list_con1= [1, 2, 3, 4]
list_con2= [5, 6, 7, 8]
list_con = list_con1 + list_con2 #리스트 연결

print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [67]:
print(list_con1 *3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

### 리스트 중 일부 항목 가져오기

In [80]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]
9

### 리스트에서 항목의 존재 여부 확인하기

In [82]:
list_data = [1, 2, 3, 4, 5]
print(5 in list_data)
print(6 in list_data)

True
False

### 리스트 메서드 활용하기

In [85]:
myFriends = ['James', 'Robert', "Lisa", 'Mary']
print(myFriends)
myFriends.append('Tomas')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Tomas']

In [92]:
myFriends = ['James', 'Robert', "Lisa", 'Mary']
print(myFriends)
myFriends.insert(1,'Paul')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Paul', 'Robert', 'Lisa', 'Mary']

In [100]:
myFriends = ['James', 'Robert', "Lisa", 'Mary']
print(myFriends)
myFriends.extend(['Laura', 'Betty'])
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']

In [26]:
myFriends = ['James', 'Robert', "Lisa", 'Mary']
print(myFriends)
myFriends.extend(['Laura', 'Betty'])
print(myFriends)
myFriends.remove('Laura')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']

ValueError: list.remove(x): x not in list

In [4]:
myFriends = ['James', 'Robert', "Lisa", 'Mary']
print(myFriends)
myFriends.extend(['Laura', 'Betty'])
print(myFriends)
myFriends.pop()
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']
['James', 'Robert', 'Lisa', 'Mary', 'Laura']

In [6]:
myFriends = ['James', 'Robert', "Lisa", 'Mary']
print(myFriends)
myFriends.extend(['Laura', 'Betty'])
print(myFriends)
print(myFriends.index('Betty'))

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']
5

In [13]:
myFriends = ['James', 'Robert', "Lisa", 'Mary']
print(myFriends)
myFriends.extend(['Paul', 'Paul'])
print(myFriends)
print(myFriends.count('Paul'))

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Paul', 'Paul']
2

In [20]:
myFriends = ['James', 'Robert', "Lisa", 'Mary']
print(myFriends)
myFriends.extend(['Laura', 'Betty'])
myFriends.sort()
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['Betty', 'James', 'Laura', 'Lisa', 'Mary', 'Robert']

In [22]:
myFriends = ['James', 'Robert', "Lisa", 'Mary']
print(myFriends)
myFriends.extend(['Laura', 'Betty'])
myFriends.sort(reverse=True)
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['Robert', 'Mary', 'Lisa', 'Laura', 'James', 'Betty']

In [32]:
myFriends = ['James', 'Robert', "Lisa", 'Mary']
del myFriends[1]
print(myFriends)

['James', 'Lisa', 'Mary']

In [40]:
myFriends = ['James', 'Robert', "Lisa", 'Mary']
print(myFriends[0])

James

In [55]:
a = [1,2,3,4,50]
print(a[1:3])
print(a[-5:-1])
a.sort(reverse=True)
del a[-1]
del a[-1]
del a[-1]
print(a)

[2, 3]
[1, 2, 3, 4]
[50, 4]

In [56]:
grade = [70,50,90,85,70,60,45,20] 
grade.sort(reverse=True)
del grade[len(grade)-3:len(grade)+1]
print(grade)

[90, 85, 70, 70, 60]

In [80]:
grade = [70,50,90,85,70,60,45,20] 
grade.sort(reverse=True)
print(grade)
del grade[len(grade)-3: len(grade)+1]
print(grade)

[90, 85, 70, 70, 60, 50, 45, 20]
[90, 85, 70, 70, 60]