### 세트 만들기

In [1]:
set1 = {1, 2, 3}
set1a = {1, 2, 3, 3}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

In [17]:
A = ["이용주", "황요섭", "강정민"]
B = ["이병건", "주호민", "김풍", "이용주"]

eventAll = A + B
print(eventAll)
set_eventAll = set(eventAll)
print(set_eventAll)

['이용주', '황요섭', '강정민', '이병건', '주호민', '김풍', '이용주']
{'강정민', '주호민', '김풍', '황요섭', '이병건', '이용주'}

In [26]:
a = {1, 2, 3, 4, 5}
b = {2, 3, 5, 7, 8, 9, 0}

a.intersection(b)

{2, 3, 5}

In [23]:
a.union(b)

{0, 1, 2, 3, 4, 5, 7, 8, 9}

In [24]:
a.difference(b)

{1, 4}

In [25]:
a&b

{2, 3, 5}

In [27]:
a|b

{0, 1, 2, 3, 4, 5, 7, 8, 9}

In [28]:
a-b

{1, 4}

### 리스트, 튜플, 세트 간 타입 변환

In [34]:
a = [1, 2, 3, 4, 5]
print(a)
type(a)

[1, 2, 3, 4, 5]

list

In [37]:
b = tuple(a)
print(b)
type(b)

(1, 2, 3, 4, 5)

tuple

In [36]:
c = set(a)
print(c)
type(c)

{1, 2, 3, 4, 5}

set

In [39]:
list(b)

[1, 2, 3, 4, 5]

In [40]:
list(c)

[1, 2, 3, 4, 5]