### for 문의 구조

In [3]:
a = 0

print(a)

a = a + 1
print(a)

a= a + 1
print(a)

0
1
2

### 반복 범위 지정

In [32]:
for a in [0, 1, 2, 3, 4, 5]:
    print(a)
    print(a+10)

0
10
1
11
2
12
3
13
4
14
5
15

In [2]:
print(list(range(0, 10, 1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
myFriends = ["James", "Robert", "Lisa", "Cole"]
for myFriend in myFriends:
    print(myFriend)

James
Robert
Lisa
Cole

### range() 함수 이용

In [24]:
print(list(range(0, 10, 1)))
print(list(range(0, 10)))
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
for a in range(0, 6, 2):
    print(a)

0
2
4

In [23]:
for a in range(6):
    print(a)

0
1
2
3
4
5

In [33]:
print(list(range(0, 20, 5)))
print(list(range(-10, 0, 2)))
print(list(range(3, -10, -3)))
print(list(range(0, -5, 1)))

[0, 5, 10, 15]
[-10, -8, -6, -4, -2]
[3, 0, -3, -6, -9]
[]

In [36]:
x_list = ['x1', 'x2']
y_list = ['y1', 'y2']

print("x y")
for x in x_list:
    for y in y_list:
        print(x, y)

x y
x1 y1
x1 y2
x2 y1
x2 y2

In [41]:
names = ['James', 'Robert', 'Lisa', 'Marry']
scores = [95, 96 ,97 ,94]

for a in range(len(names)):
    print(names[a], scores[a])

James 95
Robert 96
Lisa 97
Marry 94

In [42]:
names = ['James', 'Robert', 'Lisa', 'Marry']
scores = [95, 96 ,97 ,94]

for name, score in zip(names, scores):
    print(name, score)

James 95
Robert 96
Lisa 97
Marry 94