### 형 변환 함수

####  정수형으로 변환

In [20]:
[int(0.123), int(3.5124567), int(-1.32154)]

[0, 3, -1]

#### 실수형으로 변환

In [21]:
[float(0), float(123), float(-567)]

[0.0, 123.0, -567.0]

#### 문자형으로 변환

In [22]:
[str(123), str(456789), str(987)]

['123', '456789', '987']

In [23]:
[str(0.123), str(456.123), str(-5.987)]

['0.123', '456.123', '-5.987']

####  리스트, 튜플, 세트형으로 변환

In [28]:
list_data = ['abc', 1, 2, 'def']
tuple_data = ('abc', 1, 2, 'def')
set_data = {'abc', 1, 2, 'def'}
[type(list_data), type(tuple_data), type(set_data)]

[list, tuple, set]

In [29]:
print("리스트로 변환: ", list(tuple_data), list(set_data))

리스트로 변환:  ['abc', 1, 2, 'def'] [1, 'abc', 2, 'def']

In [31]:
print("튜플로 변환: ", tuple(list_data), tuple(set_data))

튜플로 변환:  ('abc', 1, 2, 'def') (1, 'abc', 2, 'def')

In [32]:
print("세트로 변환: ", set(list_data), set(set_data))

세트로 변환:  {1, 'abc', 2, 'def'} {1, 'abc', 2, 'def'}

###  bool함수

####  숫자를 인자로 bool 함수 호출

In [34]:
bool(0), bool(1)

(False, True)

In [38]:
bool(-10), bool(5.12), bool(-3.26)

(True, True, True)

####  문자열을 인자로 bool 함수 호출

In [40]:
bool('a')#문자열 'a'

True

In [41]:
bool(' ') #빈 문자열(공백)

True

In [42]:
bool('') #문자열 없음

False

In [45]:
bool(None) #None

False

###  리스트, 튜플, 세트를 인자로 bool 함수 호출

In [46]:
myfriends = []
bool(myfriends)

False

In [47]:
myfriends = ['James', "Robert", 'Lias', 'Marry']
bool(myfriends)

True

In [51]:
mynum = ()
bool(mynum)

False

In [52]:
mynum = (1, 2, 3)
bool(mynum)

True

In [54]:
myseta = {}
bool(myseta)

False

In [55]:
myesta = {10, 20, 30}
bool(myseta)

False

#### bool함수의 활용

In [59]:
def print_name(name):
    if bool(name):
        print("입력된 이름:", name)
    else:
        print("입력된 이름이 없습니다.")
print_name("용주")
print_name("")

입력된 이름: 용주
입력된 이름이 없습니다.

###  최솟값과 최댓값을 구하는 함수

In [64]:
myNum = [10, 5, 12, 0, 3.5, 99.5, 42]
[min(myNum), max(myNum)]

[0, 99.5]

In [65]:
myStr = 'zxcasd'
[min(myStr), max(myStr)]

['a', 'z']

In [66]:
myNum = {"Abc", "abc", "bcd", "efg"}
[min(myNum), max(myNum)]

['Abc', 'efg']

### 절댓값과 전체 합을 구하는 함수

In [70]:
[abs(10), abs(-10)]

[10, 10]

In [72]:
sumList = [1, 2, 3, 4, 5, 6, 7, 8, 9,10]
sum(sumList)

55

###  항목의 개수를 구하는 함수

In [73]:
len("ab cd") #문자열

5

In [74]:
len([1, 2, 3, 4, 5, 6, 7, 8]) #리스트

8

In [75]:
len((1, 2, 3, 4, 5)) #튜플

5

In [76]:
len ({'a', 'b', 'c', 'd'})

4

In [77]:
len({1: "Tomas", 2: "Edward"}) #딕셔너리

2

###  내장함수 활용

In [84]:
scores = [327, 152, 72, 235]
score_sum = 0
subject_num = 0
for score in scores:
    score_sum = score_sum + score
    subject_num = subject_num + 1
average = score_sum / subject_num

print("총점: {0}, 평균: {1}".format(score_sum,average))

총점: 786, 평균: 196.5

In [92]:
scores = [327, 152, 72, 235]
print("총점: {0}, 평균: {1}".format(sum(scores), sum(scores)/len(scores)))
print(f"최하 점수: {min(scores)}, 최고 점수: {max(scores)}")

총점: 786, 평균: 196.5
최하 점수: 72, 최고 점수: 327

In [154]:
s = ["a", "b", "c", "d", "e"]
if len(s)%2 == 0:
    print(s[len(s)//2-1] + s[len(s)//2])
else:
    print(s[len(s)//2])

c

In [156]:
s = ["q", "w", "e", "r"]
if len(s)%2 == 0:
    print(s[len(s)//2-1] + s[len(s)//2])
else:
    print(s[len(s)//2])

we

In [129]:
s = ["q", "w", "e", "r"]
print(s[1] + s[2])

we

In [159]:
def string_middle(str):
    # 함수를 완성하세요

    return str[(len(str)-1)//2:len(str)//2+1]

# 아래는 테스트로 출력해 보기 위한 코드입니다.
print(string_middle("power"))

w

In [18]:
x = 2
n = 5
answer = []

while (len(answer)== n):
    answer.append(x)
    x += x
print(answer)

[]

In [19]:
answer = []
answer.append(3)
answer

[3]

In [41]:
x = 2
n = 5
answer = []

for i in range(1,n+1):
    answer.append(x*i)

    
answer

[2, 4, 6, 8, 10]