In [93]:
# 두 정수 사이의 합
def solution(a, b):
    answer = 0
    if a>b: a, b = b, a
    for i in range(a, b+1):
        answer += i
    return answer
print(solution(3, 5))

12

In [24]:
def solution(n):
    return "수박"*(n//2) + "수"*(n%2)

print(solution(3))

수박수

In [25]:
def solution(n):
    return "수박"*(n//2) + "수"*(n%2)

print(solution(3))

수박수

In [26]:
def water_melon(n):
    s = "수박" * n
    return s[:n]


# 실행을 위한 테스트코드입니다.
print("n이 3인 경우: " + water_melon(3));
print("n이 4인 경우: " + water_melon(4));

n이 3인 경우: 수박수
n이 4인 경우: 수박수박

In [51]:
seoul = ["jane", "Kim"]
print('김서방은 ' + str(seoul.index('Kim')) + '에 있다.')

김서방은 1에 있다.

In [57]:
def solution(seoul):
    answer = '김서방은 {}에 있다.'.format(seoul.index('Kim'))
    return answer

print(solution(["jane", "Kim"]))

김서방은 1에 있다.

###  소수 찾기

In [74]:
n = 5
c = []
d = []
for i in range(2,n+1):
    for j in range(1,i+1):

        if i % j ==0:
            c.append(i)
    if c.count(i) == 2:
        d.append(i)
print(c)
print(len(d))

[2, 2, 3, 3, 4, 4, 4, 5, 5]
3

In [78]:
n = 5
num = set(range(2, n+1))

for i in range(2, n+1):
    if i in num:
        num-=set(range(2*i, n+1, i))
        
num

{2, 3, 5}

###  예산

In [85]:
d = [1,3,2,5,4]
b = 9
answer = 0
d.sort()

for i in d:
    b -= i
    answer += 1
    
    if b < 0:
        answer -= 1
        break
        
print(answer)

3