### 기본 출력

In [1]:
print('Hi,', 'my', 'name', 'is', 'LEE')

Hi, my name is LEE

In [2]:
print('이용주', '천재', sep = '짱')

이용주짱천재

In [4]:
print('이용주' + '집에가')

이용주집에가

In [10]:
name = "james"
IDnum = 789
print("Name:", name+",","ID Number:", IDnum)

Name: james, ID Number: 789

In [12]:
print("James is my friend. \nHe is Korean")

James is my friend.
He is Korean

In [13]:
print("Welcome to ", end="")
print("Python!")

Welcome to Python!

In [19]:
print("010", "", sep = "-", end="")
print("7224", "", sep = "-", end="")
print("7952")

010-7224-7952

In [32]:
user = []
name = input("이름:",)
user.append(name)
phone = input("연락처:",)
user.append(phone)
mail = input("E-메일:",)
user.append(mail)
print(user)

이름:이용주
연락처:010-7224-7952
E-메일:zzdydwn@naver.com
['이용주', '010-7224-7952', 'zzdydwn@naver.com']

In [37]:
user = []
name = input("이름:",)
user.append(name)
age = input("나이:",)
user.append(age)
print(user)
type(user)

이름:ㅇㅇㅇ
나이:23
['ㅇㅇㅇ', '23']

list

In [14]:
user = {"zzdydwn" : "1q2w3e4r"}
user2 = {"1q2w3e4r" : "zzdydwn"}

while True:
    ID = input("아이디 ")
    PW = input("비밀번호 ")

    if ID in user and ID == user2[PW]:
        print("안녕하세요")
        break

    else:
        print("아이디와 비밀번호를 다시 입력하세요")

아이디 zzdydwn
비밀번호 1231w

KeyError: '1231w'

### 형식 지정 출력

#### 나머지 연산자(%)를 이용한 형식 및 위치 지정

In [38]:
name = "민채"
print("%s는 나의 친구입니다." % name)

민채는 나의 친구입니다.

In [39]:
r = 3 # 변수 r에 정수 데이터 할당
PI = 3.14159265359879 # 변수 PI에 실수 데이터 할당
print("반지름: %d, 원주율: %f" % (r, PI))

반지름: 3, 원주율: 3.141593

#### 형식 지정 문자열에서 출력 위치 지정

In [42]:
animal_0 = "cat"
animal_1 = "dog"
animal_2 = "fox"

print("Animal: {0}".format(animal_0))
print("Animal: {0}, {1}, {2}".format(animal_0, animal_1, animal_2))

Animal: cat
Animal: cat, dog, fox

In [46]:
animal_0 = "cat"
animal_1 = "dog"
animal_2 = "fox"

print("Animal: {0}".format(animal_0))
print("Animal: {}, {}, {}".format(animal_0, animal_1, animal_2))

Animal: cat
Animal: cat, dog, fox

In [48]:
name = "LEE"
age = 28
a = 0.1072247952

fmt_string = "Stirng: {0}, Integer Number: {1}, Floating Number: {2}"
print(fmt_string.format(name, age, a))

Stirng: LEE, Integer Number: 28, Floating Number: 0.1072247952

str

#### 형식 지정 문자열에서 숫자 출력 형식 지정

In [54]:
a = 0.123456789123456789
print("{0: .2f}, {0: .5f}".format(a))

 0.12,  0.12346

In [75]:
x = 3
print("{0:<2d}".format(x))

3

In [77]:
x = 3
print("{0:05d}".format(x))

00003

In [78]:
x = 3
print("{0:>5d}".format(x))

    3

In [79]:
x = 0.12345
print("{0:.3f}".format(x))

0.123

In [103]:
x = 7456000
print("{0:,}".format(x))

7,456,000

In [86]:
x = 0.3258
print("{0:.1%}".format(x))

32.6%

In [106]:
9250000000000
print("{0:.2e}".format(x))

7.46e+06

In [95]:
x = 16
print("{0:#x}".format(x))  ## '#'이 없으면 0x없이 출력 됨(이하 동일)

0x10

In [99]:
x = 8
print("{0:#o}".format(x))

0o10

In [100]:
x= 2
print("{0:#b}".format(x))

0b10